body {
    background: rgb(192, 190, 190);
    
}

.post-instagram {
    width: 400px;
    background-color: white;
    margin: 0 auto;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons i:first-child{
    margin-right: 3px;
    font-size: 30px;
}

.icons i:last-child{
    font-size: 25px;
}

.post-header{
    padding: 10px;
}
.post-header-left{
    display: flex;
    align-items: center;
}
.header-left-text{
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
}
.post-footer{
    padding: 10px;
}
.icons-footer {
    display: flex;
    justify-content: space-between;
}
.icons-footer i{
    font-size: 20px;
    
}
.icons-footer-left{
    display: flex;
    gap: 10px;
}